@import "tailwindcss";

@theme {
    --color-means-red: oklch(0.6565 0.2358 12.27);
    --color-means-red-hover: oklch(0.6565 0.2358 12.27 / 76%);
    --color-means-grey: oklch(0.8792 0 0);
    --color-means-grey-hover: oklch(0.8792 0 0 / 76%);
    --color-means-red-error: oklch(63.7% 0.237 25.331);
    --color-means-pending: oklch(70.7% 0.022 261.325);
}

@layer components {
    .means-border {
        border-width: 0.8px;
        border-color: gray;
        border-radius: 4px;
    }

    .means-underline {
        text-underline-offset: 0.5rem;
        text-decoration-line: underline;
        text-decoration-color: var(--color-means-red);
    }

    /* Graph styles */
    .graph-text-white {
        font-family: Inter;
        color: white;
    }

    .graph-text-rect {
        fill: black;
    }

    .graph-text {
        fill: white;
        color: white;
        font-family: Inter;
        font-size: 10;
    }
}
